/* Original css by @hnml */
.username__07f91,
.username__703b9,
.username_c19a55 {
	&:not(.usernameGradient_e5de78) {
		--custom-gradient-color-1: currentColor;
		--custom-gradient-color-2: lch(from currentColor calc(l + 20) 0 h);
		background: linear-gradient(
			to right,
			var(--custom-gradient-color-1),
			var(--custom-gradient-color-2),
			var(--custom-gradient-color-1)
		);
		background-size: 100px auto;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 0 0 4px currentColor;
		.full-motion.app-focused:not(.hardware-acceleration-disabled) & {
			animation: gradientUsernameAnimation_e5de78 1.5s linear infinite;
		}
	}
}
