:root {
	--tweakcord-black-white-bg: black;
	--tweakcord-black-white-fg: white;
}

#app-mount {
	--activity-card-background: var(--tweakcord-black-white-bg);
	--autocomplete-bg: var(--tweakcord-black-white-bg);
	--background-floating: var(--tweakcord-black-white-bg);
	--background-mentioned: var(--tweakcord-black-white-bg);
	--background-mentioned-hover: var(--tweakcord-black-white-bg);
	--background-message-highlight: var(--tweakcord-black-white-bg);
	--background-message-highlight-hover: var(--tweakcord-black-white-bg);
	--background-message-hover: var(--tweakcord-black-white-bg);
	--background-primary: var(--tweakcord-black-white-bg);
	--background-secondary: var(--tweakcord-black-white-bg);
	--background-tertiary: var(--tweakcord-black-white-bg);
	--bg-base-primary: var(--tweakcord-black-white-bg);
	--bg-base-secondary: var(--tweakcord-black-white-bg);
	--bg-base-tertiary: var(--tweakcord-black-white-bg);
	--bg-mod-faint: var(--tweakcord-black-white-bg);
	--bg-mod-strong: var(--tweakcord-black-white-bg);
	--bg-mod-subtle: var(--tweakcord-black-white-bg);
	--border-faint: var(--tweakcord-black-white-fg);
	--border-strong: var(--tweakcord-black-white-fg);
	--border-subtle: var(--tweakcord-black-white-fg);
	--card-primary-bg: var(--tweakcord-black-white-bg);
	--card-secondary-bg: var(--tweakcord-black-white-bg);
	--channel-icon: var(--tweakcord-black-white-fg);
	--channels-default: var(--tweakcord-black-white-fg);
	--header-muted: var(--tweakcord-black-white-fg);
	--header-primary: var(--tweakcord-black-white-fg);
	--header-secondary: var(--tweakcord-black-white-fg);
	--icon-muted: var(--tweakcord-black-white-fg);
	--icon-primary: var(--tweakcord-black-white-fg);
	--icon-secondary: var(--tweakcord-black-white-fg);
	--info-danger-background: var(--tweakcord-black-white-bg);
	--info-danger-text: var(--tweakcord-black-white-fg);
	--info-help-background: var(--tweakcord-black-white-bg);
	--info-help-text: var(--tweakcord-black-white-fg);
	--info-positive-background: var(--tweakcord-black-white-bg);
	--info-positive-text: var(--tweakcord-black-white-fg);
	--info-warning-background: var(--tweakcord-black-white-bg);
	--info-warning-text: var(--tweakcord-black-white-fg);
	--input-background: var(--tweakcord-black-white-bg);
	--input-border: var(--tweakcord-black-white-fg);
	--input-placeholder-text: var(--tweakcord-black-white-fg);
	--interactive-active: var(--tweakcord-black-white-fg);
	--interactive-hover: var(--tweakcord-black-white-fg);
	--interactive-normal: var(--tweakcord-black-white-fg);
	--mention-background: var(--tweakcord-black-white-fg);
	--mention-foreground: var(--tweakcord-black-white-bg);
	--message-reacted-background: var(--tweakcord-black-white-bg);
	--message-reacted-text: var(--tweakcord-black-white-fg);
	--modal-background: var(--tweakcord-black-white-bg);
	--modal-footer-background: var(--tweakcord-black-white-bg);
	--premium-nitro-pink-text: var(--tweakcord-black-white-fg);
	--scrollbar-auto-scrollbar-color-thumb: var(--tweakcord-black-white-fg);
	--scrollbar-auto-scrollbar-color-track: var(--tweakcord-black-white-bg);
	--scrollbar-auto-thumb: var(--tweakcord-black-white-fg);
	--scrollbar-auto-track: var(--tweakcord-black-white-bg);
	--scrollbar-thin-thumb: var(--tweakcord-black-white-fg);
	--spine-default: var(--tweakcord-black-white-fg);
	--spoiler-hidden-background: var(--tweakcord-black-white-bg);
	--text-brand: var(--tweakcord-black-white-fg);
	--text-link: var(--tweakcord-black-white-fg);
	--text-muted: var(--tweakcord-black-white-fg);
	--text-normal: var(--tweakcord-black-white-fg);
	--text-positive: var(--tweakcord-black-white-fg);
	--text-primary: var(--tweakcord-black-white-fg);
	--text-secondary: var(--tweakcord-black-white-fg);
	--text-warning: var(--tweakcord-black-white-fg);
	--user-profile-background-hover: var(--tweakcord-black-white-bg);
	--user-profile-overlay-background: var(--tweakcord-black-white-bg);
	--user-profile-overlay-background-hover: var(--tweakcord-black-white-bg);
	--app-background-frame: var(--tweakcord-black-white-bg);
	--app-border-frame: var(--tweakcord-black-white-fg);
	--background-base-low: var(--tweakcord-black-white-bg);
	--background-base-lower: var(--tweakcord-black-white-bg);
	--background-base-lowest: var(--tweakcord-black-white-bg);
	--background-code: var(--tweakcord-black-white-bg);
	--background-code-addition: var(--tweakcord-black-white-bg);
	--background-code-deletion: var(--tweakcord-black-white-bg);
	--background-feedback-critical: var(--tweakcord-black-white-bg);
	--background-feedback-info: var(--tweakcord-black-white-bg);
	--background-feedback-positive: var(--tweakcord-black-white-bg);
	--background-feedback-warning: var(--tweakcord-black-white-bg);
	--background-surface-high: var(--tweakcord-black-white-bg);
	--background-surface-higher: var(--tweakcord-black-white-bg);
	--background-surface-highest: var(--tweakcord-black-white-bg);
	--border-feedback-critical: var(--tweakcord-black-white-fg);
	--border-normal: var(--tweakcord-black-white-fg);
	--chat-background-default: var(--tweakcord-black-white-bg);
	--chat-text-muted: var(--tweakcord-black-white-fg);
	--checkbox-background-checked: var(--tweakcord-black-white-bg);
	--checkbox-background-default: var(--tweakcord-black-white-fg);
	--checkbox-border-checked: var(--tweakcord-black-white-bg);
	--checkbox-border-default: var(--tweakcord-black-white-bg);
	--icon-default: var(--tweakcord-black-white-fg);
	--icon-tertiary: var(--tweakcord-black-white-fg);
	--notice-background-critical: var(--tweakcord-black-white-bg);
	--notice-background-info: var(--tweakcord-black-white-bg);
	--notice-background-positive: var(--tweakcord-black-white-bg);
	--notice-background-warning: var(--tweakcord-black-white-bg);
	--notice-text-critical: var(--tweakcord-black-white-fg);
	--notice-text-info: var(--tweakcord-black-white-fg);
	--notice-text-positive: var(--tweakcord-black-white-fg);
	--notice-text-warning: var(--tweakcord-black-white-fg);
	--spoiler-hidden-background-hover: var(--tweakcord-black-white-bg);
	--text-code-addition: var(--tweakcord-black-white-fg);
	--text-code-builtin: var(--tweakcord-black-white-fg);
	--text-code-bullet: var(--tweakcord-black-white-fg);
	--text-code-comment: var(--tweakcord-black-white-fg);
	--text-code-default: var(--tweakcord-black-white-fg);
	--text-code-deletion: var(--tweakcord-black-white-fg);
	--text-code-keyword: var(--tweakcord-black-white-fg);
	--text-code-section: var(--tweakcord-black-white-fg);
	--text-code-string: var(--tweakcord-black-white-fg);
	--text-code-tag: var(--tweakcord-black-white-fg);
	--text-code-title: var(--tweakcord-black-white-fg);
	--text-code-variable: var(--tweakcord-black-white-fg);
	--text-default: var(--tweakcord-black-white-fg);
	--text-feedback-critical: var(--tweakcord-black-white-fg);
	--text-feedback-info: var(--tweakcord-black-white-fg);
	--text-feedback-positive: var(--tweakcord-black-white-fg);
	--text-feedback-warning: var(--tweakcord-black-white-fg);
	--text-tertiary: var(--tweakcord-black-white-fg);

	--background-modifier-accent: var(--tweakcord-black-white-bg);
	--background-modifier-active: var(--tweakcord-black-white-bg);
	--background-modifier-hover: var(--tweakcord-black-white-bg);
	--background-modifier-selected: var(--tweakcord-black-white-bg);
	--bg-brand: var(--tweakcord-black-white-bg);
	--button-danger-background: var(--tweakcord-black-white-bg);
	--button-danger-background-active: var(--tweakcord-black-white-bg);
	--button-danger-background-disabled: var(--tweakcord-black-white-bg);
	--button-danger-background-hover: var(--tweakcord-black-white-bg);
	--button-danger-border: var(--tweakcord-black-white-fg);
	--button-filled-brand-border: var(--tweakcord-black-white-fg);
	--button-filled-brand-inverted-background-active: var(--tweakcord-black-white-bg);
	--button-filled-brand-inverted-background-hover: var(--tweakcord-black-white-bg);
	--button-filled-brand-inverted-text: var(--tweakcord-black-white-bg);
	--button-filled-white-background-active: var(--tweakcord-black-white-fg);
	--button-filled-white-background-hover: var(--tweakcord-black-white-fg);
	--button-filled-white-text: var(--tweakcord-black-white-bg);
	--button-outline-danger-background: var(--tweakcord-black-white-bg);
	--button-outline-danger-background-active: var(--tweakcord-black-white-bg);
	--button-outline-danger-background-hover: var(--tweakcord-black-white-bg);
	--button-outline-danger-border: var(--tweakcord-black-white-fg);
	--button-outline-danger-border-active: var(--tweakcord-black-white-fg);
	--button-outline-danger-border-hover: var(--tweakcord-black-white-fg);
	--button-outline-danger-text: var(--tweakcord-black-white-fg);
	--button-outline-danger-text-active: var(--tweakcord-black-white-fg);
	--button-outline-danger-text-hover: var(--tweakcord-black-white-fg);
	--button-positive-background: var(--tweakcord-black-white-bg);
	--button-positive-background-active: var(--tweakcord-black-white-bg);
	--button-positive-background-disabled: var(--tweakcord-black-white-bg);
	--button-positive-background-hover: var(--tweakcord-black-white-bg);
	--button-positive-border: var(--tweakcord-black-white-fg);
	--button-secondary-background: var(--tweakcord-black-white-bg);
	--button-secondary-background-active: var(--tweakcord-black-white-bg);
	--button-secondary-background-disabled: var(--tweakcord-black-white-bg);
	--button-secondary-background-hover: var(--tweakcord-black-white-bg);
	--button-secondary-text: var(--tweakcord-black-white-fg);
	--button-transparent-background: var(--tweakcord-black-white-bg);
	--button-transparent-background-active: var(--tweakcord-black-white-bg);
	--button-transparent-background-hover: var(--tweakcord-black-white-bg);
	--button-transparent-text: var(--tweakcord-black-white-fg);
	--background-mod-faint: var(--tweakcord-black-white-bg);
	--background-mod-normal: var(--tweakcord-black-white-bg);
	--background-mod-strong: var(--tweakcord-black-white-bg);
	--background-mod-subtle: var(--tweakcord-black-white-bg);
}
[style*="color:"] {
	color: var(--tweakcord-black-white-fg) !important;
}
[style*="border-left-color:"] {
	border-left-color: var(--tweakcord-black-white-fg) !important;
}
