/* Original css by @hnml */
/* 
! is not valid css
*/

.members_c8ffbb {
	transition: width 0.2s ease-out;
}
.membersWrap_c8ffbb {
	transition: min-width 0.2s ease-out;
	// $if !@floating-channel-bar
	&:not(:hover) {
		--custom-member-list-width: 73px;
	}
}
// $if @floating-channel-bar
.chat_f75fb0:has(> .content_f75fb0 > .container_c8ffbb:not(:hover)) {
	--custom-member-list-width: 73px;
	/* 1px border-left + 8px padding-left + 57px pfp */
}
// $if @floating-channel-bar
.subtitleContainer_f75fb0 {
	transition: right 0.2s ease-out;
}
