/* 
Original css by @obsidianninja11 & @blackbearftw, with modifications by @hnml
https://canary.discord.com/channels/1015060230222131221/1028106818368589824/1354331484831354952 
https://canary.discord.com/channels/1015060230222131221/1028106818368589824/1354756926310846535
rev: 1
*/
.visual-refresh .panels_c48ade {
	margin-left: var(--custom-guild-list-width);
	width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
}
.visual-refresh .guilds_c48ade {
	margin-bottom: 0;
}

.visual-refresh .container__37e49 {
	gap: var(--space-4);
	padding: 0 var(--space-xs);
}

.visual-refresh .avatarWrapper__37e49 {
	> .avatar__37e49 {
		width: 30px !important;
		> svg {
			width: 39px;
		}
	}
}
