@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");

:root {
	--font-primary:
		"Flow Circular", "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display:
		"Flow Circular", "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-headline:
		"Flow Circular", "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	--font-code:
		"Flow Circular", "gg mono", "Source Code Pro", Consolas, "Andale Mono WT", "Andale Mono",
		"Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
		"Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	--font-clan-body:
		"Flow Circular", Fraunces, "gg sans", serif, "Noto Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--font-clan-signature:
		"Flow Circular", Corinthia, "gg sans", cursive, "Noto Sans", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--font-display-marketing:
		"Flow Circular", "ABC Ginto Discord", "gg sans", serif, "Noto Sans", "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	--font-display-marketing-header:
		"Flow Circular", "ABC Ginto Nord Discord", "gg sans", serif, "Noto Sans", "Helvetica Neue",
		Helvetica, Arial, sans-serif;
}
