/* 
Original css by @the.rabbit.disabler, with modifications by @hnml
https://canary.discord.com/channels/1015060230222131221/1028106818368589824/1363880201196404926
*/

.vc-shiki-table,
.codeContainer__75297 > code {
	display: block;
	max-height: 200px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border: 2px solid transparent;
		border-radius: 4px;
		background-clip: padding-box;
		background-color: var(--scrollbar-thin-thumb);
		min-height: 40px;
	}
}
