/* Original css by @hnml */
/* rev: 1 */
.layers__960e4 {
	justify-content: center;
	align-items: center;
	.layer__960e4 {
		&:first-child {
			transform: none !important;
			opacity: 1 !important;
			z-index: 1;
		}
		&:nth-child(2) {
			z-index: 3;
			margin: auto;
			border-radius: var(--radius-md);
			width: fit-content;
			min-width: 60vw;
			height: 80vh;
			.standardSidebarView__23e6b {
				position: relative !important;
				top: unset;
				right: unset;
				bottom: unset;
				left: unset;
				border-radius: var(--radius-md);
				height: 80vh;
				overflow: hidden;
			}
			&::before {
				position: fixed;
				top: -25vh;
				left: -25vw;
				opacity: 0.6;
				z-index: 2;
				transition: opacity 350ms ease;
				background: #000;
				width: 125vw;
				height: 125vh;
				content: "";
			}
		}
	}
}
