/*
Original css by @the.rabbit.disabler, with modifications by @hnml
https://blade04208.github.io/ddex4/src/bubbles.css
! Requires ThemeAttributes
*/
.messageListItem__5126c[data-is-self="true"]:has(> .cozy_c19a55) {
	align-content: end;
	justify-content: end;
	align-items: end;
	justify-items: end;

	.cozy_c19a55.wrapper_c19a55 {
		padding-right: var(--custom-message-margin-left-content-cozy) !important;
		padding-left: unset;
		width: 100%;
	}

	.vc-shiki-container {
		text-align: left;
	}

	.username_c19a55 {
		margin-left: 4px;
	}
	.cozy_c19a55 .timestamp_c19a55.alt_c19a55 {
		right: 0;
		left: unset;
		margin-right: 0;
		margin-left: var(--custom-message-meta-space);
		text-align: left;
	}
	.headerText_c19a55,
	.header_c19a55 {
		display: flex;
		flex-direction: row-reverse;
		margin-right: 0;
	}
	.contents_c19a55,
	.repliedMessage_c19a55 {
		justify-items: end;
		justify-self: end;
		text-align: right;
	}

	.avatar_c19a55 {
		right: var(--custom-message-margin-horizontal);
		left: unset;
	}

	.avatarDecoration_c19a55 {
		right: calc(
			var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 +
				var(--custom-message-avatar-size) / 2
		);
		left: unset;
	}
	/* 
	.container_b7e1cb > *:not(.embed__623de, .visualMediaItemContainer_f4758a, .reactions__23977, .container__122e4, .nonVisualMediaItemContainer_f4758a)
	*/
	.container_b7e1cb
		> :is(
			.reactions__23977,
			.visualMediaItemContainer_f4758a,
			.embed__623de,
			.container__122e4,
			.nonVisualMediaItemContainer_f4758a
		) {
		align-self: end !important;
		justify-self: end !important;
		width: auto;
	}

	.repliedMessageClickableSpine_c19a55 {
		right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
		left: 100%;
		border-right: var(--spine-width) solid var(--spine-default);
		border-left: unset;
		border-top-right-radius: 6px;
		border-top-left-radius: 0;
	}

	.reactions__23977 {
		align-content: flex-end;
		justify-content: flex-end;
	}

	.messageContent_c19a55 {
		&:has(> .timestamp_c19a55) {
			right: -4px;
		}
		.timestamp_c19a55 {
			float: left;
			margin-right: 4px;
		}
	}
}
