/* Original css by @hnml */
/* rev: 2 */

/* hide until hover */
.buttons__74017 > .button__201d5,
.visual-refresh .channelAppLauncher_e6e74f,
.buttonContainer__74017:not(:nth-last-child(1 of .buttonContainer__74017)) {
	transform: translate(100%);
	opacity: 0;
	transition: 200ms ease-in-out;
	background: var(--bg-overlay-floating, var(--chat-background-default));
	padding-right: var(--space-8);
	.buttons__74017:hover > & {
		transform: none;
		opacity: 1;
	}
}
.buttons__74017:hover > .button__201d5 {
	transform: none;
	opacity: 1;
}
/* move activity to far left */
.channelAppLauncher_e6e74f {
	order: -1;
}
.visual-refresh .buttons__74017 {
	--padding-left: calc((var(--custom-channel-textarea-text-area-height) - 32px) / 2);
	position: sticky;
	right: 0;
	justify-content: flex-end;
	gap: 0;
	transition: 0.2s ease-in-out;
	border-bottom-left-radius: var(--radius-md);
	background: rgb(from var(--bg-overlay-floating, var(--chat-background-default)) r g b / 0);
	padding-left: calc(var(--padding-left) - 64px);
	width: 0;
	&:hover {
		background: var(--bg-overlay-floating, var(--chat-background-default));
		padding-left: var(--padding-left);
	}
}
.separator_aa63ab {
	display: none;
}
.textAreaSlate__74017 {
	padding-right: 32px;
	&:has(~ .buttons__74017 > .container_aa63ab) {
		padding-right: 81px;
	}
}
