/* Original CSS by @hnml */
/* ts pmo sm why is there sometimes a blank div inbetween these two divs */
.form_f75fb0 /* > */ .channelBottomBarArea_f75fb0,
.messagesWrapper__36d07 .scrollerContent__36d07,
.base_b88801 {
	justify-self: center;
	width: 100%;
	max-width: 1000px;
}
.base_b88801 {
	margin: unset;
	width: calc(100% - var(--space-xs) * 2);
}
