/* d-ct.start */
* {
	--d-ct-this-does-nothing: 0;
}

/* d-ct.chat.hide-timestamp */
.timestampInline_c19a55,
.latin24CompactTimeStamp_c19a55 {
	opacity: 0;
	transition: 0.2s opacity ease-in-out;
}
.message__5126c:hover .timestampInline_c19a55,
.message__5126c:hover .latin24CompactTimeStamp_c19a55 {
	opacity: 1;
}

/* d-ct.chat.ping-rainbow */
.mention,
.channelMention,
.messageListItem__5126c .username-u-ebrn,
.repliedMessage_c19a55 .desaturateUserColors-1O-G89 {
	color: var(--mention-foreground) !important;
	animation: chat-ping-rainbow 3s infinite linear;
	font-weight: bold;
}
.messageListItem__5126c .content__235ca {
	color: var(--text-normal);
}
@keyframes chat-ping-rainbow {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

/* d-ct.chat.no-super-animation */
.effectsWrapper_a9ddb3 {
	display: none;
}
.hideEmoji_f8896c {
	opacity: 1;
}
.shakeReaction_f8896c {
	animation: none !important;
}

/* d-ct.chat.regular-super */
.reaction_f8896c:not(.reactionMe_f8896c) {
	background: var(--background-secondary) !important;
}
.burstGlow_f8896c {
	display: none;
}

/* d-ct.chat.hide-gif-buttons */
.buttonContainer__74017:nth-last-child(3),
.buttonContainer__74017:nth-last-child(4) {
	display: none;
}

/* d-ct.chat.tuck-send-buttons */
.buttonContainer__74017:not(:last-child) {
	opacity: 0;
	transition: 200ms ease-in-out;
	transform: translate(100%);
}
.buttons__74017:hover > .buttonContainer__74017:not(:last-child) {
	opacity: 1;
	transform: none;
}

/* d-ct.chat.hide-react-super */
.nav__2aafa,
.reactions_f8896c > div[aria-label]:last-child {
	display: none;
}
.contentWrapper_eab878 {
	grid-template-rows: unset;
}
/* d-ct.chat.hide-channel-beginning */
.container__00de6[id*="chat-messages"] {
	display: none;
}

/* d-ct.chat.resize-stream */
.pictureInPictureWindow__6341f[style*="transform: translateX(80px) translateY(80px)"] {
	resize: both;
}
.pictureInPictureWindow__6341f > div,
.pictureInPictureVideo_e4cb9a {
	min-height: 200px;
	min-width: 200px;
	width: 100%;
	height: 100%;
}
/* d-ct.chat.hide-quick-more */
.buttonContainer_c19a55 .button_f7ecac[aria-label="More"] {
	display: none;
}
/* d-ct.chat.hide-quick-more-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M7 12.001C7 10.8964 6.10457 10.001"]) {
	display: none;
}
/* d-ct.chat.hide-quick-delete */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Delete"] {
	display: none;
}
/* d-ct.chat.hide-quick-delete-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M5 6.99902V18.999C5 20.101 5.897"]) {
	display: none;
}
/* d-ct.chat.hide-quick-thread */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Create Thread"],
.buttonContainer_c19a55 .button_f7ecac[aria-label="View Thread"] {
	display: none;
}
/* d-ct.chat.hide-quick-thread-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M5.43309 21C5.35842 21 5.30189"]) {
	display: none;
}
/* d-ct.chat.hide-quick-reply */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Reply"] {
	display: none;
}
/* d-ct.chat.hide-quick-reply-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M10 8.26667V4L3 11.4667L10 18.9333"]) {
	display: none;
}
/* d-ct.chat.hide-quick-edit */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Edit"] {
	display: none;
}
/* d-ct.chat.hide-quick-edit-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M19.2929 9.8299L19.9409 9.18278"]) {
	display: none;
}
/* d-ct.chat.hide-quick-super */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Add Super Reaction"] {
	display: none;
}
/* d-ct.chat.hide-quick-super-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M20.3397 14.2379C21.2318 14.4731"]) {
	display: none;
}
/* d-ct.chat.hide-quick-reaction */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Add Reaction"] {
	display: none;
}
/* d-ct.chat.hide-quick-reaction-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M12.1151 2.00065C12.0768 2.00022"]) {
	display: none;
}
/* d-ct.chat.hide-quick-pin */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Pin Message"] {
	display: none;
}
/* d-ct.chat.hide-quick-pin-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M22 12L12.101 2.10101L10.686 3.51401"]) {
	display: none;
}
/* d-ct.chat.hide-quick-unread */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Mark Unread"] {
	display: none;
}
/* d-ct.chat.hide-quick-unread-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M14 3H20C21 3 22.0001 4 22.0001"]) {
	display: none;
}
/* d-ct.chat.hide-quick-link */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Copy Link"] {
	display: none;
}
/* d-ct.chat.hide-quick-link-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M10.59 13.41c.41.39.41 1.03 0"]) {
	display: none;
}
/* d-ct.chat.hide-quick-id */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Copy Message ID"] {
	display: none;
}
/* d-ct.chat.hide-quick-id-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M3.37868 2.87868C3.94129 2.31607"]) {
	display: none;
}
/* d-ct.chat.hide-quick-publish */
.buttonContainer_c19a55 .button_f7ecac[aria-label="Publish"] {
	display: none;
}
/* d-ct.chat.hide-quick-publish-noneng */
.buttonContainer_c19a55 .button_f7ecac:has(path[d^="M19.1 4V5.12659L4.85 8.26447"]) {
	display: none;
}

/* d-ct.bars.mini-search */
.search__97492:not(.open__97492) .searchBar__97492 {
	width: 27px;
	transition: 0.25s;
	background-color: transparent;
}
.search__97492:not(.open__97492):hover .searchBar__97492 {
	width: 170px;
	background-color: var(--background-tertiary);
}
.search__97492:not(.open__97492) .icon_fea832,
.search__97492:not(.open__97492):hover .icon_fea832 {
	color: var(--text-muted);
}
.search__97492:not(.open__97492) .iconContainer_fea832 {
	transform: scale(1.3);
}
.search__97492:not(.open__97492):hover .iconContainer_fea832 {
	transform: scale(1);
}

/* d-ct.bars.colored-members */
.member_c8ffbb,
.members_c8ffbb {
	background-color: #0000;
	z-index: 0;
}
span.username_d272d6::before {
	position: absolute;
	content: "";
	background-color: currentColor;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	opacity: 0.2;
	z-index: -1;
	pointer-events: none;
}
/* d-ct.bars.no-channel-popups */
.popout__76f04 {
	display: none;
}
.container__56cd1 {
	display: none;
}

/* d-ct.bars.compact-members */
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .layout__20a53 {
	height: 24px;
}
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .wrapper__44b0c svg,
.membersWrap_c8ffbb .avatar__91a9d,
.privateChannels__35e86 .avatar__20a53 {
	width: 16px;
	height: 24px;
}
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .layout__91a9d,
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .wrapper__44b0c {
	height: 20px !important;
}
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .wrapper__44b0c svg[width="40"] {
	width: 24px;
	height: 24px;
}
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .wrapper__44b0c svg[width="32"] {
	width: 20px;
	height: 20px;
}
.subText__91a9d,
.subText__20a53 {
	display: none;
}
.container_c8ffbb,
.membersWrap_c8ffbb {
	overflow: hidden;
}
.membersWrap_c8ffbb,
.scroller__99e7c {
	max-height: 200%;
	min-height: 160%;
}
:is(.membersWrap_c8ffbb, .privateChannels__35e86) .avatarDecoration__44b0c {
	left: calc((0.5 - var(--decoration-to-avatar-ratio)) * 100%);
}

/* d-ct.bars.compact-channels */
.container__2637a {
	max-height: 200%;
	min-height: 110%;
}
.container__2637a ~ .panels_c48ade {
	position: absolute;
	width: 240px;
	bottom: 0;
}
.container__2637a .mainContent-20q_Hp,
.iconItem_c69b6d {
	padding: 2px 0;
}
.container__2637a .wrapper__2ea32,
.container__2637a .wrapper__2ea32 {
	padding: 0;
}
.containerDefault__29444 {
	padding-top: 8px;
}
/* d-ct.bars.single-folder */
.scroller_ef3116 > div:has(.wrapper__48112 ul) > div:not(:has(ul)) {
	display: none;
}
/* d-ct.bars.popout-server-select */
@import url(https://gist.githubusercontent.com/thenml/d8fcad4499c3c3879aba8f9456b1c141/raw);

/* d-ct.settings.popup-settings */
.layers__960e4 {
	align-items: center;
	justify-content: center;
}
.layers__960e4 > .layer__960e4:first-child {
	z-index: 1;
	opacity: 1 !important;
	transform: none !important;
}
.layers__960e4 > .layer__960e4:nth-child(2)::after {
	content: "";
	position: absolute;
	top: -20%;
	left: -20%;
	padding: 20% 20%;
	background: #000;
	z-index: 2;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	transition: opacity 350ms ease;
}
.layers__960e4 > .layer__960e4:nth-child(2) {
	width: 80%;
	height: 80%;
	top: unset;
	bottom: unset;
	right: unset;
	left: unset;
	overflow: visible;
	z-index: 3;
}
.layer__960e4 .sidebarRegion__23e6b {
	flex: unset;
}
.layer__960e4 .contentColumn__23e6b {
	max-width: unset;
}

/* d-ct.settings.no-billing-tab */
.side_b3f026 > .separator_b3f026 + .header_b3f026,
.premiumTab__581ea,
.premiumTab__581ea + div,
.premiumTab__581ea + div + div,
.premiumTab__581ea + div + div + div,
.premiumTab__581ea + div + div + div + div,
.premiumTab__581ea + div + div + div + div + div {
	display: none;
}
.side_b3f026 > .separator_b3f026 ~ .separator_b3f026 ~ .header_b3f026 {
	display: block;
}

/* d-ct.fun.activate-discord */
body::before {
	font-size: 20px;
	content: "Activate Discord";
	position: absolute;
	font-family: "Noto Sans";
	color: white;
	opacity: 0.6;
	bottom: 80px;
	right: 164px;
	pointer-events: none;
}
body::after {
	font-size: 14px;
	content: "Go to settings to activate Discord.";
	position: absolute;
	font-family: "Noto Sans";
	color: white;
	opacity: 0.6;
	bottom: 60px;
	right: 102px;
	pointer-events: none;
}
/* d-ct.fun.watermark-hell */
@import url(https://gist.githubusercontent.com/thenml/000bc3135ca6866bed969f0b28635008/raw);

/* d-ct.end */
.info__2debe::after {
	content: "CSS Tweaks by @nml (v 0.1)";
	color: var(--text-muted);
	font-size: 12px;
	line-height: 16px;
	display: block;
	text-transform: none;
}
