<!DOCTYPE html>
<html lang="{{en}}">

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="style.scss" media="screen">
	<script src="bundle.js"></script>

	<title>{{Discord CSS Tweaks}}</title>

	<meta name="title" content="{{Discord CSS Tweaks}}">

	<meta property="og:type" content="website">
	<meta property="og:title" content="{{Discord CSS Tweaks}}">
	<meta property="og:image" content="assets/logo.png">
</head>

<body title="&quot;Surrounded by some big blue border&quot;">
	<main title="">
		<header>
			<h1>{{Discord CSS Tweaks}}</h1>
			<div id="import-section">
				<input type="text" id="import-hash" placeholder="{{Paste URL or hash to import...}}">
				<button id="import-button">{{Import}}</button>
			</div>
		</header>

		<div id="popup" hidden></div>
		<div id="context-menu" class="context-menu" hidden>
			<div class="menu-item copy-import" title="{{Copy}}">
				{{@clipboard.svg}}
			</div>
			<div class="menu-item view-code" title="{{Code}}">
				{{@code.svg}}
			</div>
			<div class="menu-item share-tweak" title="{{Share}}">
				{{@share-2.svg}}
			</div>
		</div>
		<div id="tweaks-grid" class="cards"></div>
		<div id="clipboard" onanimationend="this.classList = [];" copied-text="{{Copied!}}">{{@clipboard.svg}}</div>
	</main>
</body>

</html>